@using WebApplication.Models
@model ViewTaskModel
@using WebApplication.App_LocalResources
<div>
    @if (Model != null)
    {

        <div class="panel-body">
            <h2 class="margin-bottom-10">
                <a href="@Url.Action("ViewTask", "Task", new {taskId = Model.Id})">@Model.Name</a>
            </h2>
            <p>@GlobalRes.Category:</p>
            <h4 class="margin-bottom-10">@Model.Category</h4>
            <p>@GlobalRes.Complexity:</p>
            <h4 class="margin-bottom-10">@Model.Complexity</h4>
        </div>
        <div class="form-group text-right">
            <button type="submit" class="templatemo-blue-button-litle">@GlobalRes.Change</button>
            <button type="reset" class="templatemo-white-button-litle">@GlobalRes.Delete</button>
        </div>
    }
</div>   