@model List<WebApplication.Models.ViewTaskModel>
<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetRandom Tasks</title>

    <link href="~/Content/bootstrapLight.css" rel="stylesheet" />
</head>
<body>
    <div class="style-title-on-page">
        <h3>RandomTask:</h3>
    </div>
    <div class="style-content-widget col-1">
        <div class="panel panel-default text-center">
            <div class="table-responsive" id="tasks">
               
            </div>
        </div>
    </div>
    <button id="update">@GlobalRes.Update</button>
    <button><a href="@Url.Action("ClientLogOff", "Account")"><i class="fa fa-arrow-left fa-fw"></i>@GlobalRes.LogOut</a></button>
</body>
</html>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "Post",
            url: '@Url.Action("GetRandomTask", "Client")',
            data:
            {

            },
            success: function (data) {
                $('#tasks').html(data);
            }
        });
    });

    $('#AnswerSubmit').click(function () {
        $.ajax({
            type: "Post",
            url: '@Url.Action("GetRandomTask", "Client")',
            data:
            {

            },
            success: function (data) {
                $('#tasks').html(data);
            }
        });
    });
</script>