@model WebApplication.Models.UserModel

@{
    ViewBag.Title = "Profile";
}

    <div>Создатель ахуенных задач уровня : @ViewBag.AchivementLevel[0]</div>
    <div>Решатель ахуенных задач уровня : @ViewBag.AchivementLevel[1]</div>   
    <div>Наебал всех и решил первый уровня : @ViewBag.AchivementLevel[2]</div>

<h2>Profile</h2>
<div>Rate @ViewBag.UserRate</div>
<div>
	<hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>

<div id="userTask">
</div>
<div id="userAnswerTask">
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "Post",
            url: '@Url.Action("GetUserTask", "Account")',
            data:
            {
               userId: '@Model.Id'
            },
            success: function (data) {
                $('#userTask').html(data);
            }
        });
        $.ajax({
            type: "Post",
            url: '@Url.Action("GetAnswerUserTask", "Account")',
            data:
            {
                userId: '@Model.Id'
            },
            success: function (data) {
                $('#userAnswerTask').html(data);
            }
        });
    });

</script>


