<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrapWhite.css" rel="stylesheet" title="white" />
    <link href="~/Content/bootstrapBlack.css" rel="alternate stylesheet" title="black" />

</head>
<body>
    @Html.Partial("_Menu")
    <div class="container">
        <br />
        <br />
        @RenderBody()
    </div>
        @RenderSection("scripts", required: false)
</body>
</html>
