<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @if (Request.Cookies["style"] == null)
    {
        <link href="~/Content/bootstrapLight.css" rel="stylesheet" />
    }
    else if (Request.Cookies["style"].Value == "1")
    {
        <link href="~/Content/bootstrapDark.css" rel="stylesheet" />
    }
    else if (Request.Cookies["style"].Value == "2")
    {
        <link href="~/Content/bootstrapLight.css" rel="stylesheet" />
    }
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/styles")

</head>
<body>
    @Html.Partial("_Menu")
    <div class="container">
        <br />
        <br />
        <br />
        @RenderBody()
    </div>
        @RenderSection("scripts", required: false)
</body>
</html>