@{ string Identity = ViewBag.Identity;}
<div class="style-title-on-page">
    <h1>@GlobalRes.Home</h1>
</div>
<div class="style-flex-row flex-content-row style-overflow-hidden">
    <div class="style-flex-row flex-content-row">
        <div class="col-1">
            <div class="style-content-widget">
                <i class="fa fa-times"></i>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object img-circle" src="~/Media/cloud.jpg" alt="Sunset"/>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading text-uppercase">@GlobalRes.TegsCloud</h2>
                        <div id="partialTagsCloud" class="media-tegs">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="style-content-widget col-1 text-center">
    <h2 class="text-uppercase">Python</h2>
    <h3 class="text-uppercase margin-bottom-10">5 @GlobalRes.LastTasks</h3>
    <img src="~/Media/python.jpg" alt="Bicycle" class="img-circle img-thumbnail"/>

    <div class="style-content-widget no-padding">
        <div class="panel panel-default table-responsive">
            <table class="table table-striped table-bordered style-user-table">
                <thead>
                <tr>
                    <td><a href="" class="white-text style-sort-by"># <span class="caret"></span></a></td>
                    <td><a href="" class="white-text style-sort-by">@GlobalRes.Title <span class="caret"></span></a></td>
                    <td><a href="" class="white-text style-sort-by">@GlobalRes.Complexity <span class="caret"></span></a></td>
                    <td><a href="" class="white-text style-sort-by">@GlobalRes.Tag <span class="caret"></span></a></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td>
                    <td>1223144</td>
                    <td>244</td>
                    <td>js; company; com</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="style-content-widget col-1 text-center">
    <h2 class="text-uppercase">C#</h2>
    <h3 class="text-uppercase margin-bottom-10">5 @GlobalRes.LastTasks</h3>
    <img src="~/Media/csharp.png" alt="Bicycle" class="img-circle img-thumbnail"/>

    <div class="style-content-widget no-padding">
        <div class="panel panel-default table-responsive">
            <table class="table table-striped table-bordered style-user-table">
                <thead>
                <tr>
                    <td><a href="" class="white-text style-sort-by"># <span class="caret"></span></a></td>
                    <td><a href="" class="white-text style-sort-by">@GlobalRes.Title <span class="caret"></span></a></td>
                    <td><a href="" class="white-text style-sort-by">@GlobalRes.Complexity <span class="caret"></span></a></td>
                    <td><a href="" class="white-text style-sort-by">@GlobalRes.Tag <span class="caret"></span></a></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td>
                    <td>1223144</td>
                    <td>244</td>
                    <td>js; company; com</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="style-content-widget col-1 text-center">
    <h2 class="text-uppercase">Java</h2>
    <h3 class="text-uppercase margin-bottom-10">5 @GlobalRes.LastTasks</h3>
    <img src="~/Media/java.jpg" alt="Bicycle" class="img-circle img-thumbnail"/>

    <div class="style-content-widget no-padding">
        <div class="panel panel-default table-responsive">
            <table class="table table-striped table-bordered style-user-table">
                <thead>
                <tr>
                    <td><a href="" class="white-text style-sort-by"># <span class="caret"></span></a></td>
                    <td><a href="" class="white-text style-sort-by">@GlobalRes.Title <span class="caret"></span></a></td>
                    <td><a href="" class="white-text style-sort-by">@GlobalRes.Complexity <span class="caret"></span></a></td>
                    <td><a href="" class="white-text style-sort-by">@GlobalRes.Tag <span class="caret"></span></a></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td>
                    <td>1223144</td>
                    <td>244</td>
                    <td>js; company; com</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="style-content-widget col-1 text-center">
    <h2 class="text-uppercase">Ruby</h2>
    <h3 class="text-uppercase margin-bottom-10">5 @GlobalRes.LastTasks</h3>
    <img src="~/Media/ruby.png" alt="Bicycle" class="img-circle img-thumbnail"/>

    <div class="style-content-widget no-padding">
        <div class="panel panel-default table-responsive">
            <table class="table table-striped table-bordered style-user-table">
                <thead>
                <tr>
                    <td><a href="" class="white-text style-sort-by"># <span class="caret"></span></a></td>
                    <td><a href="" class="white-text style-sort-by">@GlobalRes.Title <span class="caret"></span></a></td>
                    <td><a href="" class="white-text style-sort-by">@GlobalRes.Complexity <span class="caret"></span></a></td>
                    <td><a href="" class="white-text style-sort-by">@GlobalRes.Tag <span class="caret"></span></a></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td>
                    <td>1223144</td>
                    <td>244</td>
                    <td>js; company; com</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $.ajax({
            url: '@Url.Action("GetRandomTags", "Tag")',
            type: "POST",
            data: "count=" + 100,
            success: function(msg) {
                $('#partialTagsCloud').append(msg);
            }
        });
        $.ajax({
            url: '@Url.Action("GetLastTask", "Task")',
            type: "POST",
            data: "count=" + 10,
            success: function(msg) {
                $('#partialLastTask').html(msg);
            }
        });
        $.ajax({
            url: '@Url.Action("GetMaxRate", "Rate")',
            type: "POST",
            success: function(msg) {
                $('#partialMaxRate').html(msg);
            }
        });
    })
</script>

