@{ string Identity = ViewBag.Identity;}
<div class="style-title-on-page">
    <h1>@GlobalRes.Home</h1>
</div>
<div class="style-flex-row flex-content-row style-overflow-hidden">
    <div class="style-flex-row flex-content-row">
        <div class="col-1">
            <div class="style-content-widget">
                <i class="fa fa-times"></i>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object img-circle" src="~/Media/cloud.jpg" alt="Sunset"/>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading text-uppercase">@GlobalRes.TegsCloud</h2>
                        <div id="partialTagsCloud" class="media-tegs">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="style-content-widget col-1 text-center">
    <h2 class="text-uppercase">Python</h2>
    <h3 class="text-uppercase margin-bottom-10">5 @GlobalRes.LastTasks</h3>
    <img src="~/Media/python.jpg" alt="Bicycle" class="img-circle img-thumbnail"/>

    <div class="style-content-widget no-padding" id="python">
    
        </div>
    </div>

<div class="style-content-widget col-1 text-center">
    <h2 class="text-uppercase">C#</h2>
    <h3 class="text-uppercase margin-bottom-10">5 @GlobalRes.LastTasks</h3>
    <img src="~/Media/csharp.png" alt="Bicycle" class="img-circle img-thumbnail"/>

    <div class="style-content-widget no-padding" id="c">
    
        </div>
    </div>

<div class="style-content-widget col-1 text-center">
    <h2 class="text-uppercase">Java</h2>
    <h3 class="text-uppercase margin-bottom-10">5 @GlobalRes.LastTasks</h3>
    <img src="~/Media/java.jpg" alt="Bicycle" class="img-circle img-thumbnail"/>

    <div class="style-content-widget no-padding" id="java">
    </div>
</div>

<div class="style-content-widget col-1 text-center">
    <h2 class="text-uppercase">Ruby</h2>
    <h3 class="text-uppercase margin-bottom-10">5 @GlobalRes.LastTasks</h3>
    <img src="~/Media/ruby.png" alt="Bicycle" class="img-circle img-thumbnail"/>

    <div class="style-content-widget no-padding" id="ruby">
       
    </div>
</div>

<script>
    $(document).ready(function() {
        $.ajax({
            url: '@Url.Action("GetRandomTags", "Tag")',
            type: "POST",
            data: "count=" + 100,
            success: function(msg) {
                $('#partialTagsCloud').append(msg);
            }
        });
        $.ajax({
            url: '@Url.Action("GetLastTask", "Task")',
            type: "POST",
            data: {
                count: 5,
                category: "c#"
            },
            success: function(msg) {
                $('#c').html(msg);
            }
        });
        $.ajax({
            url: '@Url.Action("GetLastTask", "Task")',
            type: "POST",
            data: {
                count: 5,
                category: "ruby"
            },
            success: function (msg) {
                $('#ruby').html(msg);
            }
        });
        $.ajax({
            url: '@Url.Action("GetLastTask", "Task")',
            type: "POST",
            data: {
                count: 5,
                category: "java"
            },
            success: function (msg) {
                $('#java').html(msg);
            }
        });
        $.ajax({
            url: '@Url.Action("GetLastTask", "Task")',
            type: "POST",
            data: {
                count: 5,
                category: "python"
            },
            success: function (msg) {
                $('#python').html(msg);
            }
        });
        $.ajax({
            url: '@Url.Action("GetMaxRate", "Rate")',
            type: "POST",
            success: function(msg) {
                $('#partialMaxRate').html(msg);
            }
        });
    })
</script>

