@model List<WebApplication.Models.ViewTaskModel>


<div class="panel panel-default table-responsive">
    <table class="table table-striped table-bordered templatemo-user-table">
        <thead>
            <tr>
                <td><a href="" class="white-text templatemo-sort-by">@GlobalRes.Title <span class="caret"></span></a></td>
                <td><a href="" class="white-text templatemo-sort-by">@GlobalRes.Complexity <span class="caret"></span></a></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var taskmodel in Model) { 
            <tr>
                <td><a href="@Url.Action("ViewTask", "Task", new { taskId = taskmodel.Id})">@taskmodel.Name</a></td>
                <td>@taskmodel.Complexity</td>
            </tr>
            }
        </tbody>
    </table>
</div>
