@model WebApplication.Models.CreateTaskModel
@{
    ViewBag.Title = GlobalRes.MyTasks;
}
<div class="style-title-on-page">
    <h1>@GlobalRes.MyTasks</h1>
</div>
<div class="style-content-widget no-padding">
    <div class="panel panel-default table-responsive">
        <table class="table table-striped table-bordered style-user-table">
            <thead>
            <tr>
                <td><a href="" class="white-text">#  </a></td>
                <td><a href="" class="white-text">@GlobalRes.Title  </a></td>
                <td><a href="" class="white-text">@GlobalRes.Complexity  </a></td>
                <td><a href="" class="white-text">@GlobalRes.Category  </a></td>
                <td><a href="" class="white-text">@GlobalRes.Tag  </a></td>
                <td>@GlobalRes.Delete</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td>
                <td>124</td>
                <td>244</td>
                <td>2422</td>
                <td>js; company; com</td>
                <td><a href="" class="style-link">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="style-flex-row flex-content-row">
    <div class="style-content-widget pink-bg col-1" onclick="">
        <i class="fa fa-times"></i>
        <h2 class="text-uppercase margin-bottom-10">@GlobalRes.LatestTask</h2>
        <p class="margin-bottom-0" id="lastTask"></p>
        <div class="form-group text-right">
            <button type="reset" class="style-white-button-litle">@GlobalRes.Delete</button>
        </div>
    </div>
    <div class="style-content-widget blue-bg col-1" onclick="">
        <i class="fa fa-times"></i>
        <h2 class="text-uppercase margin-bottom-10">@GlobalRes.MaxRateTask</h2>
        <p class="margin-bottom-0" id="maxRateTask"></p>
        <div class="form-group text-right">
            <button type="reset" class="style-white-button-litle">@GlobalRes.Delete</button>
        </div>
    </div>
</div>
<div class="style-flex-row flex-content-row">
    <div class="col-1">
        <div class="panel panel-default margin-10">
            <div class="panel-heading">
                <h2 class="text-uppercase">@GlobalRes.AddDocument</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("CreateTask", "Task", FormMethod.Post,
                    new {@class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Complexity, new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Complexity)
                                @Html.ValidationMessageFor(model => model.Complexity)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Category, new {@class = "control-label col-md-2"})
                            <div class="col-md-10 dropdown">
                                @Html.DropDownListFor(model => model.Category,
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem {Value = "python", Text = "python"},
                                        new SelectListItem {Value = "java", Text = "java"},
                                        new SelectListItem {Value = "c#", Text = "c#"},
                                        new SelectListItem {Value = "ruby", Text = "ruby"}
                                    }, new {@class = "btn btn-default dropdown-toggle"})
                                @Html.ValidationMessageFor(model => model.Category)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tag, new {@class = "control-label col-md-2"})
                            <div id="Tags" class="col-md-10">
                                <a id="addTag" class="col-md-offset-3 col-md-5">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </a>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Answers, new {@class = "control-label col-md-2"})
                            <div id="Answers" class="col-md-10">
                                <a id="addAnswer" class="col-md-offset-3 col-md-5">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </a>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label">@GlobalRes.Conditions</label>
                                @Html.TextAreaFor(model => model.Condition)
                                @Html.ValidationMessageFor(model => model.Condition)
                            </div>
                        </div>
                                
                        <div class="col-lg-12">
                            <label class="control-label style-block">@GlobalRes.FileInput</label>
                            <input name="file" class="form-control" type="file" title=@GlobalRes.ChooseFile data-filename-placement="inside" />       
                            <p>@GlobalRes.MaximumSize</p>
                        </div>

                        <div class="form-group text-right">
                            <button type="submit" class="style-blue-button">@GlobalRes.Create</button>
                            <button type="reset" class="style-white-button">@GlobalRes.Reset</button>
                        </div>
                    </div>                         
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            var imageUrl = $('img.content-bg-img').attr('src');
            $('.style-content-img-bg').css('background-image', 'url(' + imageUrl + ')');
            $('img.content-bg-img').hide();
            $.ajax({
                url: '@Url.Action("GetLastUserTask", "Task")',
                type: "POST",
                data: "count=" + 1,
                success: function (msg) {
                    $('#lastTask').html(msg);
                }
            });
            $.ajax({
                url: '@Url.Action("GetUserMaxRate", "Rate")',
                type: "POST",
                success: function (msg) {
                    $('#maxRateTask').html(msg);
                }
            });
        });
    </script>
    <script>
        $(function() {
            var answer = -1;
            $('#addAnswer').click(function() {
                answer++;
                var formGroup = document.createElement("div");
                formGroup.className = "form-group";
                formGroup.id = "form-group-" + answer;
                var label = document.createElement("label");
                label.className = "control-label";
                label.htmlFor = "Answers";
                formGroup.appendChild(label);
                var colmd = document.createElement("div");
                colmd.className = "col-md-10";
                var input = document.createElement("input");
                input.className = "text-box single-line";
                input.id = "Answers_" + answer + "_";
                input.name = "Answers[" + answer + "]";
                input.type = "text";
                colmd.appendChild(input);
                formGroup.appendChild(colmd);
                $('#Answers').append(formGroup);
            });
            var tag = -1;
            $('#addTag').click(function() {
                    tag++;
                    var formGroup = document.createElement("div");
                    formGroup.className = "form-group";
                    var label = document.createElement("label");
                    label.className = "control-label tags";
                    label.htmlFor = "Tag";
                    formGroup.appendChild(label);
                    var colmd = document.createElement("div");
                    colmd.className = "col-md-10";
                    var input = document.createElement("input");
                    input.className = "text-box single-line";
                    input.id = "tag";
                    input.name = "Tag[" + tag + "]";
                    input.type = "text";
                    colmd.appendChild(input);
                    formGroup.appendChild(colmd);
                    $('#Tags').append(formGroup);
                    $(input).autocomplete({
                        source: function(request, response) {
                            $.ajax({
                                url: '@Url.Action("GetTags", "Tag")',
                                type: "Post",
                                data: "data=" + request.term,
                                success: function(data) {
                                    data = data.split('#');
                                    console.log(data);
                                    response(data);
                                }
                            });
                        }
                    });
                }
            );
        });
    </script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                " lists image charmap  preview anchor",
                "searchreplace  code ",
                "insertdatetime table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    </script>
}